.bodyDash {
  background-color: white;
  height: 100vh;
  display: block;
}

.headerContainer {
  width: 100%;
  border-bottom: thick solid black;
  /*margin-bottom: 20px;*/
}

.logoImage {
  width: 10%;
  margin: auto;
}

.topButterfly {
  height: 80px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.column1 {
  margin-left: 30px;
  border-right: thick solid black;
  padding: 10px;
}

.image-container {
  vertical-align: middle;
  width: 100%;
  padding: .5rem;
  margin: auto;
}

.dash-image {
  height: 200px;
}

.name-container {
  /*width: 70%;*/
  margin-bottom: 20px;
}

.dash-name {
  font-size: 1.8rem;
  text-align: right;
  padding-top: 1rem;
  text-transform: uppercase;
  letter-spacing: .5rem;

}

.activity-feed {
  text-align: center;
  padding-top: 1rem;
}

div.row>Image {
  margin-top: 20px;
}

.va1 {
  vertical-align: bottom;
}

.gridImage {
  height: 200px;
  width: 300px;
}

.gridImage1 {
  height: 300px;
  width: 300px;

}

.footerImage {
  height: 600px;
  width: 100%;
  margin-top: 20px;
}
