.bodyDash {
  background-color: white;
  padding: 10px;
  height: 100vh;
}

.image-container {
  margin: auto;
  width: 80%;
  border: solid black;
  border-radius: 50%;
  padding: .5rem;
}

.dash-image {
  border-radius: 50%;
}

.name-container {
  margin: auto;
  width: 80%;
  border-bottom: solid black;
  margin-bottom: 30px;
}

.dash-name {
  font-size: 1.4rem;
  text-align: center;
  padding: 1rem;
}

.activity-feed {
  text-align: center;
  padding-top: 1rem;
}

/*.one {
  background-image: url(../../assets/apex1.jpeg);
  background-position: center top;
  height: 60%;
  height: 100vh;

}

.two {
  background-image: url(../../assets/apex2.jpg);
  background-position: center top;
  height: 100vh;

}

.three {
  background-image: url(../../assets/apex3.jpg);
  background-position: right top;
  height: 100vh;

}

.four {
  background-image: url(../../assets/apex4.jpg);
  background-position: center top;
  height: 100vh;

}

.five {
  background-image: url(../../assets/apex5.jpg);
  background-position: left center;
  height: 100vh;

}
.first {
  background-color: white;
}*/
