.bodyDash {
  background-color: white;
  height: 100vh;
  display: block;
  font-family: 'Poiret One', cursive;
  letter-spacing: .1rem;
}

.headerContainer {
  width: 100%;
  background-color: black;
}

.logoImage {
  width: 10%;
  margin: auto;
}

.topButterfly {
  height: 80px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.column1 {
  border-right: solid black;
  color: white;
  background-color: black;
}

.userContainer {
  margin-left: 10px;
  /*margin-right: 10px;*/
}

.activityName {
  color: white;
}

.activityDistance {
  color: white;
}

.image-container {
  width: 100%;
  margin: auto;
}

.dash-image {
  height: 300px;
  width: 300px;
}

.name-container {
  margin-bottom: 20px;
}
.dash-name {
  font-size: 1.8rem;
  text-align: left;
  padding-top: 1rem;
  text-transform: uppercase;
  letter-spacing: .5rem;
}

div.ui.grid.followerFeed {
  margin-top: 1rem;
  margin-left: .5rem;
}

.followerGridHeader {
  font-size: 2rem;
  margin: 1rem;
  text-transform: uppercase;
  letter-spacing: .5rem;
}

.followerPhoto {
  height: 200px;
  width: 200px;
  margin-bottom: 10px;
}

div.five.wide.column.follower {
  padding-left: .4rem;
  padding-right: .4rem;
}

.followerName {
  font-size: 1.2rem;
  font-weight: bolder;
  margin-bottom: 8px;
  font-family: 'Dosis', sans-serif;
}

.followerDate {
  color: rgba(0,0,0,0.4);
  font-family: 'Dosis', sans-serif;
}

.followActivityName {
  font-weight: bolder;
  font-family: 'Dosis', sans-serif;
}

.followDistance {
  font-weight: bolder;
  font-family: 'Dosis', sans-serif;
}
