.bodyLogin {
  display: block;
  margin-left: 50px;
  padding: 0;
  height: 110vh;
  font-family: 'Poiret One', cursive;
  letter-spacing: .1rem;
}

.topLogin {
  background-color: black;
  margin: 0;
  padding: 30px;
}

.bottomLogin {
  background-color: white;
  margin: 0;

}

.logoContainer {
  margin: 2rem;
  padding: 1rem;
  width: 30%;
  margin: auto;
  vertical-align: middle;
}

.logo {
  position: relative;
  /*margin-left: 50px;*/
  height: 300px;
  padding: 30px;
}

.quoteText {
  font-size: 2.2rem;
  letter-spacing: 1.4rem;
  text-align: justify right;
  line-height: 3rem;
  color: white;
  font-weight: bolder;
}

.aboutText {
  margin: auto;
  width: 40%;
  background-color: white;
  opacity: .7;
}

.aboutText {
  font-size: 1.4rem;
  text-align: center;
  line-height: 2rem;
  color: black;
}

.loginContainer {
  padding: 30px;
  text-align: center;
  display: block;
  margin: auto;
}
